.pagination {
  gap: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
  flex-wrap: nowrap;
  justify-content: center;
}


.custom-pagination-item {
  width: 44px;
  min-width: 44px;
  height: 44px;
  padding: 0 !important;
  margin: 0 !important;
  display: flex !important;
  align-items: center;
  justify-content: center;
}


.custom-pagination-item a,
.custom-pagination-item span {
  color: rgb(8, 8, 8) !important;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  text-decoration: none;
  padding: 0;
  margin: 0;
}


.custom-pagination-item.active a {
  background-color: #e6ffe6 !important;
  border-color: #28a745 !important;
  color: #28a745 !important;
  font-weight: bold;
}
