.top-strip {
  width: 100%;
  height: fit-content;
  background-color: #f7f6f6;
}

.header-main {
  width: 100%;
  background-color: #fff;
  position: sticky;
  top: 0;
  z-index: 50;
  font-family: Arial, sans-serif;
}

.header-wrapper {
  max-width: 1264.67px;
  height: 88px;
  border-bottom: 1px solid #e1e1e1;
  background-color: white;
}

.header-content {
  height: 88px;
  padding: 0 32px;
}

.header-left .logo {
  width: 145.5px;
  height: 30.31px;
}

.search-wrapper {
  width: 480.26px;
  height: 44px;
  position: relative;
}

.search-input {
  height: 100%;
  padding: 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  background-color: rgba(242, 242, 242, 1);
  border-radius: 4px;
}

.search-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  pointer-events: none;
}

.header-right {
  gap: 16px;
}

.icon-item {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 16px;
  cursor: pointer;
}

.icon-text {
  font-size: 14px;
  font-weight: bold;
}

.badge {
  position: absolute;
  top: -6px;
  right: -8px;
  font-size: 10px;
  padding: 2px 6px;
  border-radius: 50%;
}

.divider {
  height: 20px;
  width: 1px;
  background-color: #ccc;
}

.img {
  height: 24px;
  width: 24px;
}





