
.recent-carousel {
  overflow-x: hidden;
  gap: 12px;
  padding: 0.5rem 2.5rem; 
}

.carousel-button {
  position: absolute;
  top: 35%;
  z-index: 2;
  background: white;
  border: 1px solid #ccc;
  padding: 0.3rem 0.7rem;
  font-size: 1.2rem;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.carousel-button.left {
  left: 0;
}

.carousel-button.right {
  right: 0;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.img:hover{
  background-color: black;
}
